.suggestion_container
{
    height:400px;
    width:400px;
    
    margin-left: -170px;
    margin-top: 20px;
}

.suggestion_header
{
    margin-left: 15px;
    color: #8E8E8E;
    font-weight: bold;
    margin-bottom: 10px;
}

.suggestion_suggestions
{
    
    display: flex;
    
}

.suggestion_avatar
{
    min-width: 30px;
    min-height: 30px;
    margin: 10px;
    margin-left: 20px;
}

.suggestion_username
{
    margin: 20px;
    font-size:15px;
}

.suggestion_followbutton
{
    font-size: 13px;
    color: #0095F6;
    margin-top: 18px;
    position: absolute;
    right: 310px;
}